.app-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
   padding: 20px;
   width: 100%;
   background-color: rgb(238, 238, 239);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  color: #2c3e50;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.main-header{
  font-family: cursive;
  color: #34495e;
  font-size: 20px;
  
}

th ,td{
   border: 1px solid #ddd;
   padding: 12px 15px;
   text-align: center;
   font-size: 14px;
}

th{
  background-color:#2c3e50;
  color:rgb(244, 237, 228);
  font-weight: 600;
}

tr:nth-child(even){
  background-color: #f9f9f9;
}

tr:hover{
  background-color:#efeeee;
  transition:background-color 0.3s ease;
}


.loading{
   margin-top: 200px;
   margin-left: 170px;
   height: 100vh;
   width: 100%;
   font-size: 24px;
   font-weight: bold;
   font-family:Georgia, 'Times New Roman', Times, serif;
   color:#2c3e50;
   animation: pulse 1.5s infinite;

}

@keyframes pulse{
  0%{opacity: 1;}
  50%{opacity: 0.5;}
  100%{opacity: 1;}
}


/*Filter section*/

.filter-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.filter-container label{
  font-size: 16px;
  color: #583b3b;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter-container input[type="month"]{
  padding:6px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
  
.filter-button{
  background-color: #2c3e50;
  color:rgb(244, 237, 228);
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3 ease;
}


.filter-button:hover{
  background-color: #2c3e50;
}







