.app-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
   padding: 20px;
   width: 100%;
}


h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  color: rgb(34, 45, 29);
  margin-top: 20px;
  text-align: center;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin:20px auto;
}
.main-header{
  font-family: cursive;
  color: green;
  font-size: 20px;
  
}

th ,td{
   border: 1px solid black;
   padding: 10px;
   text-align: center;
}

th{
  background-color:rgb(42, 165, 120);
}

.loading{
   margin-top: 200px;
   margin-left: 170px;
   height: 100vh;
   width: 100%;
   font-size: 24px;
   font-weight: bold;
   font-family:Georgia, 'Times New Roman', Times, serif;
   color:rgb(14, 88, 19);
   animation: pulse 1.5s infinite;

}

@keyframes pulse{
  0%{opacity: 1;}
  50%{opacity: 0.5;}
  100%{opacity: 1;}
}



