.app-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
   padding: 20px;
   width: 100%;
}

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  color: black;
  margin-top: 20px;
  text-align: center;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin:20px auto;
}

th ,td{
   border: 1px solid black;
   padding: 10px;
   text-align: center;
}

th{
  background-color: antiquewhite;
}

.loading{
   margin-top: 200px;
   margin-left: 170px;
   height: 100vh;
   width: 100%;
   font-size: 24px;
   font-weight: bold;
   color:brown;
   animation: pulse 1.5s infinite;

}

@keyframes pulse{
  0%{opacity: 1;}
  50%{opacity: 0.5;}
  100%{opacity: 1;}
}



